flows.json
[{"id":"a474d008.9adb8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f9025b39.65a658","type":"serial in","z":"a474d008.9adb8","name":"","serial":"662402ba.d3e40c","x":250,"y":180,"wires":[["4e53180f.8fec28"]]},{"id":"4e53180f.8fec28","type":"mqtt out","z":"a474d008.9adb8","name":"","topic":"vinirty45/fiap/teste","qos":"0","retain":"true","broker":"7da5dedc.c64c3","x":670,"y":180,"wires":[]},{"id":"2ed0332f.1f995c","type":"mqtt in","z":"a474d008.9adb8","name":"","topic":"vinirty45/fiap/teste","qos":"0","datatype":"auto","broker":"7da5dedc.c64c3","x":290,"y":320,"wires":[["68cc81ac.1a696"]]},{"id":"45c477a4.86db58","type":"change","z":"a474d008.9adb8","name":"temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":320,"wires":[["a39fbd5.243824"]]},{"id":"a39fbd5.243824","type":"ui_gauge","z":"a474d008.9adb8","name":"","group":"560759d7.317fa8","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"Graus Celsius","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":320,"wires":[]},{"id":"ea92f56d.62dda8","type":"change","z":"a474d008.9adb8","name":"luminosidade","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lumi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":420,"wires":[["f6a2ab05.d6ea08"]]},{"id":"f6a2ab05.d6ea08","type":"ui_gauge","z":"a474d008.9adb8","name":"","group":"560759d7.317fa8","order":1,"width":0,"height":0,"gtype":"gage","title":"Luminosidade","label":"Lux","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":960,"y":420,"wires":[]},{"id":"aecdb0fd.c4ef3","type":"change","z":"a474d008.9adb8","name":"vento","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vel","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":500,"wires":[["db935411.279378","73300678.1772c8"]]},{"id":"db935411.279378","type":"ui_gauge","z":"a474d008.9adb8","name":"","group":"560759d7.317fa8","order":2,"width":0,"height":0,"gtype":"gage","title":"Velocidade","label":"Km/h","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":500,"wires":[]},{"id":"1ffd2c6f.78f064","type":"twitter out","z":"a474d008.9adb8","twitter":"","name":"Tweet","x":990,"y":580,"wires":[]},{"id":"73300678.1772c8","type":"function","z":"a474d008.9adb8","name":"","func":"if (msg.payload > 80){\n    msg.payload = \"Tome cuidado! vento forte\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":580,"wires":[["1ffd2c6f.78f064"]]},{"id":"59a5421.d2b56bc","type":"mqtt in","z":"a474d008.9adb8","name":"","topic":"vinirty45/fiap/teste","qos":"0","datatype":"auto","broker":"7da5dedc.c64c3","x":290,"y":420,"wires":[["864894ec.82af18"]]},{"id":"f31aa06c.e9339","type":"mqtt in","z":"a474d008.9adb8","name":"","topic":"vinirty45/fiap/teste","qos":"0","datatype":"auto","broker":"7da5dedc.c64c3","x":290,"y":500,"wires":[["b25e709e.9d75b"]]},{"id":"68cc81ac.1a696","type":"json","z":"a474d008.9adb8","name":"","property":"payload","action":"","pretty":false,"x":540,"y":320,"wires":[["45c477a4.86db58"]]},{"id":"864894ec.82af18","type":"json","z":"a474d008.9adb8","name":"","property":"payload","action":"","pretty":false,"x":490,"y":420,"wires":[["ea92f56d.62dda8"]]},{"id":"b25e709e.9d75b","type":"json","z":"a474d008.9adb8","name":"","property":"payload","action":"","pretty":false,"x":510,"y":500,"wires":[["aecdb0fd.c4ef3"]]},{"id":"662402ba.d3e40c","type":"serial-port","z":"","serialport":"COM7","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"7da5dedc.c64c3","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"560759d7.317fa8","type":"ui_group","z":"","name":"Arduino","tab":"61b0388b.142318","order":1,"disp":true,"width":"6","collapse":false},{"id":"61b0388b.142318","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]